.title {
  cursor: pointer;
}
.navigation {
  margin-top: 64px;
}
.layout {
  margin-left: 200px;
}
.loginForm {
  text-align: center;
  padding-top: 200px;
}
.menuLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
