.title {
  cursor: pointer;
}
.marginTop {
  margin-top: 64px;
}
.header {
  position: fixed !important;
  top: 0;
}
.layout {
  margin-left: 200px;
  margin-top: 64px;
}
.loginForm {
  text-align: center;
  padding-top: 200px;
}
.menuLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
