{
  "presets": ["es2015", "react"],
  "plugins": [
    "syntax-decorators",
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
