#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed !important;
  top: 0;
  z-index: 2000 !important;
}
.container {
  margin-top: 64px;
  padding: 10px 20px;
}
.loginForm {
  text-align: center;
  padding-top: 200px;
}
.buttonStyle {
  width: 50px !important;
  height: 50px !important;
}
.menuLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
.marginTop {
  margin-top: 64px;
}
.actionButtons {
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 220px;
  right: 20px;
}
.buttonsMargin {
  margin-bottom: 56px;
}
.buttonLink {
  margin: 10px 24px;
}

.logo {
  display: flex;
  align-items: center;
  height: 64px;
}
.logo img {
  max-height: 54px;
  display: block;
  margin-right: 30px;
}
